.header{
    display : flex;
    justify-content : flex-end;
    margin : 10px;
}
a{
    margin-left: 10px;
    margin-top: 10px;
}
/* unvisited link */
a:link {
    color: blue;
}

  /* visited link */
a:visited {
    color: blue;
}

  /* mouse over link */
a:hover {
    color: blue;
}

  /* selected link */
a:active {
    color: blue;
}
.logo {
    display : flex;
    justify-content: center;

}
img {
    width : 350px;
    height : 150 px;
    margin-top: 40px;
}
.field1 {
    display : flex;
    justify-content : center;
}
.search{
    display : flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height : 44px;
    width : 582px;
    margin-top : 10px;
    font-size : 16px;

}
.Google_Search{
    margin-top : 25px;
    margin-right : 30px;
    margin-left : 150px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    text-align: center;
    height : 36px;
}

.Lucky {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    text-align: center;
    height : 36px;
}
span {
    position : absolute;
    left: 830px;
    top : 180px;
    color : #4285f4;
    font : 16px/16px roboto-regular, arial, sans-serif;
}
h1{
    color: #d93025;
    margin: 25px 35px;
    display: flex;


}

.advanced_container {
    display:flex;
    justify-content:space-between;
    margin-left: 25px;
    margin-right:343px;
}

.advanced_Mmargin {
    margin-left:25px;
}

.advanced_row {
    display:flex;
    align-items:center;
    font-size: 16px;
}

.advanced_Input {
    width : 500px;
}
.advanced_input_div{
    width : 700px;
}
p {
    display : flex;
    flex-wrap : wrap;
    font-size : 13px;
}
.p1{
    width : 200px;
}
.Advance_button{
    display:flex;
    justify-content: center;
    margin-top:10px;
}
.advanced_input_button {
    background-color :#4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
}